<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "pages/copy" %>
<% end %>

<h2>About</h2>
<p>Send Me Happy encourages happy thoughts and interactions by sending text messages on a schedule. It's the little reminder that yes, "You are in fact a capital-G Good person." </p>

<p>Send Me Happy delivers very general, very broad text messages in order to facilitiate a healthy self perception.</p>

<p>There will always be moments when unhappy thoughts occupy a majority effort imparted by the mind. This is a service to help keep that majority positive, and not negative.</p>

<p>Send Me Happy is designed and developed by <a href="http://www.codysehl.net">Cody Sehl</a>.</p>