<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "pages/copy" %>
<% end %>

<h2>Contact</h2>

<p>Send Me Happy is designed and developed by <a href="http://www.codysehl.net">Cody Sehl</a>.</p>

<p>If you would like to ask a question, leave a comment, or say hello, please send an email to cody.sehl at gmail.com</p>

<p>If you find a bug, please report it by sending a descriptive email to the address above and I will do what I can to resolve your issue quickly.</p>