<h1 class="callout-copy">Kind words on a schedule</h1>
<a href="#" id="sign-up" class="button"></a>
<h4 class="sign-up-copy">Use your phone number to sign up for Send Me Happy and receive motivational text messages every day, week, or month.</h6>
<div class="sign-up-flow-container">
	<div class="phone">
		<h3 class="label">Enter your phone to begin</h3>
		<input type="text" placeholder="(234) 234 - 4567">
		<a href="#" class="button">Send Verification Code</a>
	</div>
	<div class="verification">
		<input type="text" placeholder="Enter verification code">
		<a href="#" class="button">Verify Code</a>
	</div>
	<div class="message-frequency">
		<h3 class="label">I want to receive messages...</h3>
		<select name="message-frequency" id="message-frequency-input">
			<option value="1">Every Day</option>
			<option value="3">Every Few Days</option>
			<option value="7">Every Week</option>
			<option value="30">Every Month</option>
		</select>
		<a href="#" class="button">Done</a>
	</div>
</div>